body {
  position: relative;
  min-height: 100vh;
  margin: 0 auto; /* centers the content */
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
  background-color: #ffffff;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}

.instructions {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  padding: 20px;
  top: 150px;
}

.instructions > div {
  display: flex; /* makes each item a column */
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1; /* equal widths */
  gap: 20px;
}

.instructions img {
  height: 200px;
  width: auto;
}

.instructions p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
